@use "../utilility" as *;
.header {
    // height: 100vh;
    padding-top: 10rem;
    margin-bottom: 10rem;
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    @include respond(mobile) {
        padding: 0 3rem;
        background-image: url(../images/bg-header-mobile.png);
        height: 100vh;
    }
    &__logo {
        text-align: center;
    }
    &__image {
        height: 100%;
        @include respond(mobile) {
            height: 80%;
        }
    }
    &__heading {
        text-align: center;
        h2 {
            font-size: 5rem;
        }
    }
    &__cta {
        text-align: center;
        button {
            &:last-child {
                margin-left: 2rem;
                @include respond(mobile) {
                    margin-left: initial;
                    margin-top: 1.5rem;
                }
            }
            @include respond(mobile) {
                width: 80%;
            }
        }
    }
}