*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.8rem;
    font-family: var( --primary-font);
}

.container {
    max-width: 115rem;
    margin: 0 auto;
}