@use "../utilility" as *;
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    @include respond(mobile) {
        font-size: 50%;
    }
}

body {
    font-size: 1.8rem;
    font-family: var( --primary-font);
    overflow-x: hidden;
    @include respond(mobile) {
        overflow-x: hidden;
    }
}

.container {
    width: 90%;
    max-width: 115rem;
    margin: 0 auto;
}