:root {
    //////////////////
    //Colors
    --color-strong-cyan: rgb(38, 186, 164);
    --color-strong-cyan-shadow: rgb(24, 156, 134);
    --color-light-blue: rgb(97, 115, 255);
    --color-light-blue-shadow: rgb(56, 71, 187);
    --color-dark-grayish-blue: rgb(76, 84, 93);
    --color-grayish-blue: rgb(159, 171, 178);
    --color-grayish-blue-half: rgba(159, 171, 178, 0.5);
    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);
    //////////////////
    //fonts
    --primary-font: 'Bai Jamjuree', sans-serif;
    --bold-font: 600;
    --regular-font: 400;
}